PORT 

DB_HOST
DB_USER
DB_NAME
DB_PASSWORD 

MAX_FILES_PER_UPLOAD

MAX_FILES_PER_UPLOAD = 100
DESIGN_LIBRARY_DIRECTORY=uploads/design_library
QUERY_UPLOAD_DIRECTORY=uploads/query_uploads


JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d