# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Temporary Files
temp/

# Future AI Index
index/*.index